body{
    background: #d7c6f5 ;
}


#cabecera{
    background-color: #26146b;
    color: white;
    text-align: center;
}

.seccion{
    background-color: #43146b;
    color: #efe6f7;
}




