body{
    background: #d7c6f5 ;
}

h3{
    text-align: center;
}
#cabecera{
    background-color: #26146b;
    color: white;
    text-align: center;
}

.row{
    margin-top: 5px;
}

.card{
    padding: 25px;
    width: 28rem;
}




